<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New user</title>
    <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/menu::menu(username=${username})"></div>
    <div th:if="${error ne null}" class="error">
        <span th:text="${error}"></span>
    </div>
    <div class="form">
        <h2>New user</h2>
        <form role="form" action="/user" method="post">
            <p>All fields below are mandatory</p>
            <div>
                <label>Username</label>
                <input type="text" name="username" th:value="*{username}"/>
            </div>
            <div>
                <label>Email</label>
                <input type="text" name="email"  th:value="*{email}"/>
            </div>
            <div>
                <label>Role</label>
                <span>
                    <select name = "role">
                        <option th:each="role : ${T(com.mytradein.model.AuthRoles).values()}"
                            th:value="${role}" th:text="${role.label}"></option>
                    </select>
                </span>
            </div>
            <div>
                <label>Full name</label>
                <input type="text" name="fullname"  th:value="*{fullName}"/>
            </div>
            <div>
                <label>Password</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <label>Repeat password</label>
                <input type="password" name="password1"/>
            </div>
            <div>
                <input type="submit" value="create">
            </div>
        </form>
    </div>
</div>
</body>
</html>